.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:70px;
    height:70px;
    margin-right:10px;
    float:left;
}

.roundedImageRight{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:70px;
    height:70px;
    margin-left:10px;
    float:right;
}

.utilisatrice{
    font-family:Calibri;
    width:500px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.utilisatriceNom{
    margin:10px;
}

.texteArticle{
    font-family:Calibri;
    margin:0px;
    text-align:justify;
}

