body{
    text-align: center;
}

input[type="file"]{
    margin: 0 auto;
}

#titreHeader {
    position: relative;
    left: -1.5rem;
    top: 0;
}

.roundedImage{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:70px;
    height:70px;
    margin-right:10px;
    float:left;
}

.roundedImageRight{
    overflow:hidden;
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    width:70px;
    height:70px;
    margin-left:10px;
    float:right;
}

.utilisatrice{
    font-family:Calibri;
    width:500px;
    margin:auto;
    margin-top:10px;
    margin-bottom:10px;
}

.utilisatriceNom{
    margin:10px;
}

.texteArticle{
    font-family:Calibri;
    margin:0px;
    text-align:justify;
}

input[type="submit"], input[type="reset"]{
    border: 0.0625rem solid #000000;
    font-family: 'Calibri';
    font-weight: bold;
    font-size: 2.5rem;
}

input[type="submit"]:disabled {
    text-decoration: line-through;
}

#listeautrices p, #listeoeuvres p {
    display: inline-block;
}

#listeautrices p:hover, #listeoeuvres p:hover {
    cursor: pointer;
}

#listeautrices #choixauteur p{
    display: block;
}

#listeautrices #choixauteur p:hover{
    background-color: rgba(130, 130, 210, 0.5);
    box-shadow: 0 0.15rem 0.5rem 0 #000000;
    cursor: pointer;
}

#selectiontags span {
    position: relative;
}

#dynacloud {
    position: relative;
}

#liste_tags {
    list-style-type: none;
}

#liste_tags li {
    display: inline-block;
}

.tag0 {
    background-color: #908af8;
}

.tag1 {
    background-color: #da8ed5;
}

.tag2 {
    background-color: #feee94;
}

.tag3 {
    background-color: #ff8080;
}